    nav {
        background: #1e1e1e;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0;
        z-index: 1000;
    }


    nav a.nav-link {
        background: #3a3a3a;
        color: white;
        text-decoration: none;
        padding: 10px 18px;
        border-radius: 8px;
        font-size: 15px;
        transition: 0.25s;
        display: inline-block;
    }

    nav a.nav-link:hover {
        background: #0a84ff;
    }

    nav button,
    .dropbtn {
        background: #3a3a3a;
        color: white;
        border: none;
        padding: 10px 18px;
        cursor: pointer;
        border-radius: 8px;
        font-size: 15px;
        transition: 0.25s;
    }


    input::placeholder {
        color: rgba(0, 0, 0, 0.4);
        /* low opacity */
    }



    /* Style the logout button like nav links */
    nav .logout-btn {
        background: #3a3a3a;
        color: white;
        border: none;
        padding: 10px 18px;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.25s;
    }

    /* Hover effect matches other nav links */
    nav .logout-btn:hover {
        background: #0a84ff;
        color: white;
    }