<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book a Test Drive - Light Speed Amman</title>

    {% load static %}
    <link rel="stylesheet" href="{% static './css/layout.css' %}">
</head>

<body>

<nav>
    <a href="{% url 'index' %}" class="nav-link">Home</a>
    <a href="{% url 'about_us' %}" class="nav-link">About Us</a>

    <div class="dropdown">
        <a href="{% url 'configure' %}" class="nav-link">Configure</a>
        <div class="dropdown-content">
            <a href="{% url 'configure' 'LS6' %}" onclick="selectCarPage('LS6')">LS6</a>
            <a href="{% url 'configure' 'LS8' %}" onclick="selectCarPage('LS6')">LS8</a>
        </div>
    </div>

    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
    <button class="active">Book a Test Drive</button>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link logout-btn">
                Logout
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="nav-link">Login</a>
        <a href="{% url 'register' %}" class="nav-link">Register</a>
    {% endif %}
</nav>

<div class="container">
    <div class="card">
        <h1>Book a Test Drive</h1>

        {% if success %}
            <p style="color: green;">Your test drive has been booked!</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>
